* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent unwanted scrollbars */
  font-family: 'Segoe UI', sans-serif;
}

/* Global application background */
body {
  background: #f4f6f8;
}
